<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1>Вход</h1>
        {% if error %}
            <p style="color: #e74c3c;">{{ error }}</p>
        {% endif %}
    </header>
    <div class="container">
        <main class="document">
            <form method="POST">
                <label>
                    <input type="text" name="username" placeholder="Логин" required>
                </label>
                <label> 
                    <input type="password" name="password"  placeholder="Пароль" required>
                </label>
                <button type="submit" class="generate-btn">Войти</button>
            </form>
            <p><a href="{{ url_for('register') }}" class="back-btn">Зарегистрироваться</a></p>
        </main>
    </div>
</body>
</html>
